/* Color Palette:
Light Shades: #fcfcfd;
Light Accent: #ebc06c;
Main Brand Color: #e96663;
Dark Accent: #aaacb3;
Dark Shades: #475671;
*/
body{
    background-color: #475671;
    color: #fcfc;
    text-align: center;
}

h1 {
    color: #fcfc;
    font-family:'Franklin Gothic Medium'

}


header{
    color: #fcfcfd;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    position: sticky;
    overflow: hidden;
}
.contactheader{
    color: #aaacb3;
    font-family: 'Times New Roman', Times, serif;
}
img {
    width: 100px;
    border-radius: 50%; /* Rounds out images to circular shape*/
    display: inline-block;
}

.column{
    float: left;
    width: 33%;
}
.row:after{
    content: "";
    display: table;
    clear:both;
}

.profilepic{
    margin-top: 100px;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    position: fixed;
    top: 0;
}
.navbar {
    width: 80%; /* Set a width */
    margin: 0 auto; /* Centers the navbar */
    list-style: none;
    padding: 0;
    display: flex; /* Align items in a row */
}
.navBar{
    list-style-type: none; /* Removes bullets */
    margin: 0;
    padding: 0;
    position:sticky;
    top:0;
    overflow: hidden;
    background-color:#aaacb3;
    height:auto;
}

.navBar li{
    float: left;
    border-right: 1px solid #475671;
}
.navBar li:last-child {
    border-right: none;
  }

.navBar li a{
    display: block;
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBar li a:hover{
    color: #aaacb3;
}

.sectiontitle{
    color:#aaacb3;
    text-align:center
}